{% if res.vip is defined %}
    <h3 class="vip">VIP Members</h3>
    
    {% include 'PWSearchBundle:Default:partials/userList.html.twig' with {'userList': res.vip} %}
{% endif %}

{% if res.standard is defined %}
    <h3>Community Members</h3>
    
    {% include 'PWSearchBundle:Default:partials/userList.html.twig'  with {'userList': res.standard} %}
{% endif %}
