{% extends 'PWActivityBundle:Notification:partials/base.email.twig' %}

{% block message %}
    {% if notification.category == "friend" %}
        replied to
        <a href="{{ url('pw_post_default_view', {id: notification.data.post.id}) }}?{{ tag }}#notificationList" style="color: #ed2978; text-decoration: none;">
            a comment</a>.
    {% else %}
        replied to
        <a href="{{ url('pw_post_default_view', {id: notification.data.post.id}) }}?{{ tag }}#notificationList" style="color: #ed2978; text-decoration: none;">
            your comment</a>.
    {% endif %}
{% endblock %}