<!-- <h3>My best ever brand (other)</h3>
<div class="userProfileBlock single">
    <img src="{{ asset('images/profile/tmp/brand.png') }}">
    <a href="#" class="close">X</a>
</div>
<h3>My style</h3>
<div class="userProfileBlock single">
    <img src="{{ asset('images/profile/tmp/style.png') }}">
    <a href="#" class="close">X</a>
</div>
<h3>Must have in my purse</h3>
<div class="userProfileBlock single">
    <img src="{{ asset('images/profile/tmp/purse.png') }}">
    <a href="#" class="close">X</a>
</div> -->
