<header>
    <h2>
        SparkRebel
        <span>beta</span>
    </h2>
</header>
<h3>
    Hey! SparkRebel is where you can find &amp; share things that inspire you.
    We have a few questions to make sure you’ll find things you love...
</h3>
<div class="registrationModalContent">
    <a class="registrationModalPaginator">Continue <span>&rsaquo;</span></a>
</div>
<div class="registrationModalPrivacy">
    <a href="/privacy">Privacy Statement</a>
</div>
