<header>
<h2>SparkRebel <span>beta</span></h2>
</header>
<h3>Welcome to your personalized stream! It’s full of customized sparks based on your brand and fashion interests. Save things you love by resparking them to your own collections.</h3>
<p>Thanks for joining! Team SparkRebel</p>
<a id="startTutorial" class="button startTutorial">TUTORIAL</a>
<div id="loadingStream">Please hold on while we prepare your stream</div>
<a id="gotoStream" href="{{ path('home') }}" class="button">GO TO MY STREAM</a>