<div id="registerStep1">
	{% include 'PWUserBundle:Register:step1.html.twig' %}
</div>
<div id="registerStep2">
	{% include 'PWUserBundle:Register:step2.html.twig' %}
</div>
<div id="registerStep3">
	{% include 'PWUserBundle:Register:step3.html.twig' %}
</div>
<div id="registerStep4">
	{% include 'PWUserBundle:Register:step4.html.twig' %}
</div>
<div id="registerStep5">
	{% include 'PWUserBundle:Register:step5.html.twig' %}
</div>
<div id="registerStep6">
	{% include 'PWUserBundle:Register:step6.html.twig' %}
</div>
<div id="registerStep7">
	{% include 'PWUserBundle:Register:step7.html.twig' %}
</div>