{% extends '::base.html.twig' %}

{% block title %}
    Trending Collections
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass,?yui_css' 'css/boards.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% if trending|length > 0 %}
        <ul class="boardsList">
            {% for trending in trending %}
                <li>{% include 'PWBoardBundle:Default:partials/thumb.html.twig' with {'data': trending.item} %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No trending collections exist.</h2>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?yui_js' 'js/boards.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
