/*-------------------------------------------------------------------
    Compass Modules
-------------------------------------------------------------------*/
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

/*-------------------------------------------------------------------
    PW Modules
-------------------------------------------------------------------*/
@import "variables.scss";
@import "mixins.scss";

/*-------------------------------------------------------------------
    Basic Elements
-------------------------------------------------------------------*/
body {
    background-color: #fff;
    color: $baseFontColor;
    font-family: Arial, helvetica, sans-serif;
    font-size: $baseFontSize;
}

a {
    cursor: pointer;
    color: $linkColor;
    text-decoration: none;
    
    &:hover {
        color: $linkColorHover;
        text-decoration: underline;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*--------------------------------------
    Add - Bookmarklet
----------------------------------------*/
#bookmarkletAdd {
    padding: 20px;
    
    header {
        h2 {
            color: #4d4d4d;
            margin-bottom: 20px;
        }
    }
    
    .modalContent {
        @include pie-clearfix;
        
        .addImage {
            float: left;
            margin-right: 20px;
            width: 100px;
            
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }
        
        .tzSelect {
            float: left;
            left: 230px;
            position: absolute;
            top: 0px;
            width: 326px;
            
            .selectBox {
                background: #fff image-url("backgrounds/bg.arrow.down.png") 320px 10px no-repeat;
                border: 1px solid #9c9c9c;
                cursor: pointer;
                padding: 6px;
                position: absolute;
                width: 100%;
                @include border-radius(4px);
                
                &:hover,
                &.expanded {
                    
                }
            }
            
            .dropDown {
                background-color: #fff;
                border: 1px solid #9c9c9c;
                margin: 0;
                max-height: 200px;
                overflow: auto;
                position: absolute;
                top: -20px;
                left: -70px;
                width: 420px;
                z-index: 1100;
                @include border-radius(4px);
                
                li {
                    cursor:pointer;
                    margin: 0;
                    padding: 6px;
                    
                    &:hover {
                        background-color: $linkColor;
                        color: #fff;
                    }
                }
        
                .newBoard {
                    background-color: #444;
                    margin: 0;
                    padding: 0;
                    
                    h2 {
                        background: #f0efed image-url("modals/backgrounds/bg.newBoard.dots.png") center 10px no-repeat;
                        border: 1px solid #e6e6e6;
                        padding: 6px;
                        text-align: center;
                    }
                    
                    form {
                        margin: 0;
                    }
                    
                    ul {
                        margin: 0;
                    }
                    
                    li {
                        color: #fff;
                        cursor: default;
                        margin: 0;
                        padding: 10px;
                        @include pie-clearfix;
                        
                        &:hover {
                            background-color: transparent;
                        }
                        
                        label {
                            color: #fff;
                            float: left;
                            font-family: 'MuseoSans900';
                            font-size: $baseFontSize - 4;
                            margin-right: 10px;
                            text-align: right;
                            text-transform: uppercase;
                            width: 90px;
                        }
                        
                        input[type='text'] {
                            background-color: #fff;
                            border: 1px solid #9c9c9c;
                            color: $baseFontColor;
                            font-family: Arial;
                            float: left;
                            padding: 6px;
                            width: 180px;
                            @include border-radius(4px);
                        }
                        
                        select {
                            margin-right: 10px;
                            margin-top: 3px;
                            width: 194px;
                        }
                    }
                }
            }
        }
        
        #addPostForm {
            float: left;
            width: 600px;
            
            ul {
                li {
                    margin-bottom: 30px;
                    @include pie-clearfix;
                    
                    label {
                        color: #4d4d4d;
                        float: left;
                        padding-top: 5px;
                        width: 80px;
                    }
                }
            }
            
            label {
                font-family: 'MuseoSans900';
                font-size: $baseFontSize - 2;
                text-align: right;
                margin-right: 10px;
                text-transform: uppercase;
                width: 90px;
                
                &.add_channel {
                    margin-left: 10px;
                    margin-right: 30px;
                    text-align: left;
                    width: auto;
                }
            }
            
            input[type='checkbox'] {
                float: left;
                margin-top: 5px;
            }
            
            select {
                float: left;
                margin: 2px 0 0 0;
            }
            
            .button {
                float: left;
                margin-top: -3px;
            }
            
            .newBoard {
                h2 {
                    color: #4d4d4d;
                    margin-bottom: 10px;
                }
                
                ul {
                    li {
                        label {
                            color: $baseFontColor;
                            width: 110px;
                        }
                        
                        select {
                            margin-top: 4px;
                        }
                        
                        #newBoardCancel {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}