/*-------------------------------------------------------------------
    Compass Modules
-------------------------------------------------------------------*/
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";

/*-------------------------------------------------------------------
    PW Modules
-------------------------------------------------------------------*/
@import "variables.scss";
@import "mixins.scss";

/*--------------------------------------
    Stores list
----------------------------------------*/
#storesList {
    margin-bottom: 20px;
    @include pie-clearfix;
    
    li {
        color: #fff;
        float: left;
        font-family: 'MuseoSans500';
        font-size: $baseFontSize - 3;
        margin: 0 10px 10px 0;
        width: 230px;
        
        a {
            color: #fff;
            
            &:hover {
                color: $linkColor;
            }
        }
    }
}

/*--------------------------------------
    Brands list
----------------------------------------*/
#brandsList {
    margin-bottom: 20px;
    @include pie-clearfix;
    
    li {
        color: #fff;
        float: left;
        font-family: 'MuseoSans500';
        font-size: $baseFontSize - 3;
        margin: 0 10px 10px 0;
        width: 230px;
        
        a {
            color: #fff;
            
            &:hover {
                color: $linkColor;
            }
        }
        
        .brandLetter {
            color: $linkColor;
            display: block;
            font-family: 'MisoRegular';
            font-size: $baseFontSize + 18;
            margin-bottom: 5px;
        }
        
        .brandsByLetter {
            li {
                float: none;
            }
        }
    }
}

/*--------------------------------------
    Brand Boards
----------------------------------------*/
#brandBoards {
    h1,
    h2,
    > h3 {
        color: #d1d3d5;
        font-family: 'MisoLight';
        font-size: $baseFontSize + 15;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    h2 {
        font-size: $baseFontSize + 10;
        margin-bottom: 10px;
    }
    
    > h3 {
        font-size: $baseFontSize + 7;
        margin-bottom: 5px;
    }
    
    p {
        color: #d1d3d5;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    
    .button.follow {
        margin-bottom: 20px;
        @include inline-block;
        
        &:before {
            padding-top: 2px;
        }
        
        &.follow {
            padding-left: 30px;
            
            &:before {
                background-position: -300px -320px;
            }
            
            &:hover:before {
                background-position: -300px -284px;
            }
        }
        
        &.unfollow {
            padding-left: 30px;
            
            &:before {
                background-position: -300px -356px;
            }
            
            &:hover:before {
                background-position: -300px -284px;
            }
        }
    }
    
    .boardsList {
        margin-bottom: 20px;
    }
}

/*--------------------------------------
    Featured brands
----------------------------------------*/
#featuredBrands {
    background-color: #f2f2f2;
    overflow: hidden;
    padding: 32px;
    position: relative;
    @include border-radius(4px);
    
    .featuredBrandsRibbon {
        background: image-url("backgrounds/bg.featured.brands.png") left top no-repeat;
        left: 0;
        position: absolute;
        text-indent: -9999px;
        top: 0;
        @include square(108px);
    }
    
    ul {
        background-color: #fff;
        border: 1px solid #e5e5e3;
        @include border-radius(4px);
        @include pie-clearfix;
        
        li {
            border-bottom: 1px solid #e5e5e3;
            border-right: 1px solid #e5e5e3;
            float: left;
            padding: 5px;
            @include size(168px, 120px);
            
            &:nth-child(5n+5) {
                border-right: none;
            }
            
            img {
                display: block;
                margin: 0 auto;
                @include square(120px);
            }
        }
    }
}

/*--------------------------------------
    Brands - Settings
----------------------------------------*/
.brandsSettings {
    padding-top: 15px;
    
    p {
        color: #fff;
        font-family: "MuseoSans500";
        font-size: $baseFontSize + 2;
        margin-bottom: 20px;
    }
    
    ul {
        background-color: #373737;
        color: #c7c7c7;
        font-size: $baseFontSize - 2;
        margin-bottom: 40px;
        padding: 20px;
        @include border-radius(4px);
        @include box-shadow(rgba(#000, 0.5) 0 0 2px);
        @include pie-clearfix;
        
        li {
            float: left;
            margin: 0 10px 10px 0;
            width: 220px;
            @include pie-clearfix;
            
            &.empty {
                float: none;
                margin: 0;
                width: 100%;
            }
            
            input {
                float: left;
                margin-right: 5px;
            }
            
            label {
                float: left;
                padding-top: 4px;
                width: 196px;
            }
        }
        
        .sp-container-column {
            ul {
                float: left;
                margin: 0 10px 0 0;
                padding: 0;
                width: 220px;
                @include box-shadow(none);
            }
        }
    }
    
    .button {
        height: 27px;
    }
}

/*--------------------------------------
    My Brands
----------------------------------------*/
.myBrandsFilters {
    background: image-url("backgrounds/bg.filters.noise.png") repeat;
    margin-bottom: 20px;
    padding: 10px;
    @include border-radius(4px);
    
    h3 {
        color: #b2b2b2;
        font-family: "MuseoSans500";
        font-size: $baseFontSize - 1;
        margin-bottom: 10px;
    }
    
    ul {
        max-height: 185px;
        overflow-y: auto;
        position: relative;
        @include pie-clearfix;
        
        li {
            border: 1px solid transparent;
            cursor: pointer;
            float: left;
            margin: 0 5px 5px 0;
            padding: 4px 2px;
            @include border-radius(4px);
            @include size(91px, 80px);
            
            a {
                text-decoration: none;
            }
            
            .brandLogo {
                background-color: #fff;
                margin: 0 auto 5px;
                @include border-radius(4px);
                @include square(50px);
                
                img {
                    display: block;
                    @include border-radius(4px);
                    @include square(50px);
                }
            }
            
            p {
                color: #737373;
                font-family: "MisoRegular";
                font-size: $baseFontSize - 1;
                text-align: center;
                text-transform: uppercase;
            }
            
            &:hover {
                border-color: #ccc;
            }
            
            &.selected {
                border-color: $linkColor;
            }
        }
    }
    
    a {
        font-size: $baseFontSize - 2;
    }
}

/*--------------------------------------
    Responsive: Tablet and Facebook
----------------------------------------*/
@media only screen and (max-width: 810px) {
    #storesList,
    #brandsList {
        li {
            width: 170px;
        }
    }
    
    #featuredBrands {
        padding: 31px;
        
        ul {
            li {
                width: 153px;
                
                &:nth-child(5n+5) {
                    border-right: 1px solid #e5e5e3;
                }
                
                &:nth-child(4n+4) {
                    border-right: none;
                }
                
                img {
                    @include square(120px);
                }
            }
        }
    }
    
    .brandsSettings {
        ul {
            li {
                width: 215px;
                
                label {
                    width: 191px;
                }
            }
            
            .sp-container-column {
                ul {
                    width: 215px;
                }
            }
        }
    }
    
    .myBrandsFilters {
        ul {
            padding-left: 20px;
            
            li {
                margin-right: 10px;
            }
        }
    }
}

/*--------------------------------------
	Responsive: Mobile
----------------------------------------*/
@media only screen and (max-device-width: 480px) {
    #storesList,
    #brandsList {
        li {
            float: none;
            width: 100%;
        }
    }
    
    #featuredBrands {
        ul {
            li {
                @include size(107px, 90px);
                
                &:nth-child(5n+5) {
                    border-right: 1px solid #e5e5e3;
                }
                
                &:nth-child(2n+2) {
                    border-right: none;
                }
                
                img {
                    @include square(90px);
                }
            }
        }
    }
    
    .brandsSettings {
        ul {
            li {
                float: none;
                margin-right: 0;
                width: 100%;
                
                label {
                    width: 236px;
                }
            }
            
            .sp-container-column {
                ul {
                    float: none;
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }
    
    .myBrandsFilters {
        ul {
            padding-left: 20px;
            
            li {
                margin-right: 20px;
            }
        }
    }
}

/*--------------------------------------
	Responsive: Wide
----------------------------------------*/
@media only screen and (min-width : 1220px) {
    #storesList,
    #brandsList {
        li {
            width: 290px;
        }
    }
    
    #featuredBrands {
        ul {
            li {
                width: 178px;
                
                &:nth-child(5n+5) {
                    border-right: 1px solid #e5e5e3;
                }
                
                &:nth-child(6n+6) {
                    border-right: none;
                }
                
                img {
                    @include square(120px);
                }
            }
        }
    }
    
    .myBrandsFilters {
        ul {
            li {
                margin-right: 8px;
            }
        }
    }
}