/*-------------------------------------------------------------------
    Compass Modules
-------------------------------------------------------------------*/
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";

/*-------------------------------------------------------------------
    PW Modules
-------------------------------------------------------------------*/
@import "variables.scss";
@import "mixins.scss";

/*--------------------------------------
    Buttons
----------------------------------------*/
.button {
    cursor: pointer;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	color: #7d7d7d;
	display: block;
	font-family: 'MisoRegular';
	font-size: $baseFontSize + 2;
	height: 18px;
	padding: 4px 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	@include background-image(linear-gradient(#fff, #fff, #e6e7e8, #fff));
	@include border-radius(3px, 3px);
	@include box-shadow(rgba(#000, 0.2) 0px 1px 5px);

    &:hover {
    	background-color: #ed2978;
    	border-color: #ed2978;
    	color: #fff;
    	text-decoration: none;
    	@include background-image(linear-gradient(#ed2978, #ed2978, #dc196f, #ed2978));
    }

    &:before {
        background: image-url("backgrounds/bg.sprite.global.png") 9999px 9999px;
        content: " ";
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 4px;
        vertical-align: middle;
        @include square(16px);
    }

    &.disabled {
        cursor: default;
        @include opacity(0.75);
    }

    &.small {
    	font-size: 14px;
    	padding: 4px 6px 4px;
    }

    &.primary {
        background-color: #ed2978;
        border-color: #ed2978;
        color: #fff;
        @include background-image(linear-gradient(#ed2978, #ed2978, #dc196f, #ed2978));
        
        &:hover {
            background-color: #de2571;
            border-color: #de2571;
            @include background-image(linear-gradient(#de2571, #de2571, #c71865, #de2571));
        }
    }
}

.button[disabled] {
    cursor: default;
    @include opacity(0.75);
}