/*-------------------------------------------------------------------
    Compass Modules
-------------------------------------------------------------------*/
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";

/*-------------------------------------------------------------------
    PW Modules
-------------------------------------------------------------------*/
@import "variables.scss";
@import "mixins.scss";

/*--------------------------------------
    Static Pages
----------------------------------------*/
#staticContent {
    background-color: #f2f2f2;
    color: #999;
    font-family: 'MuseoSans500';
    font-size: $baseFontSize - 1;
    padding: 20px 360px 20px 20px;
    @include border-radius(4px);
    
    h2,
    h3,
    h4,
    h5 {
        font-family: 'MuseoSans900';
    }
    
    h2 {
        font-size: $baseFontSize + 22;
        margin-bottom: 20px;
    }
    
    h3 {
        color: $linkColor;
        font-size: $baseFontSize + 6;
        margin: 10px 0 5px;
        
        &.aboutDark {
            color: #666;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        
        &.aboutLight {
            color: #999;
            margin-bottom: 10px;
        }
    }
    
    h4 {
        color: #5c5c5c;
        font-size: $baseFontSize + 2;
        margin-bottom: 10px;
    }
    
    h5 {
        color: #5c5c5c;
        font-size: $baseFontSize;
        margin-bottom: 5px;
    }
  
    p {
        line-height: 1.3;
        margin-bottom: 20px;
        @include pie-clearfix;
        
        .button {
            float: left;
        }
    }
    
    ul,
    ol {
        margin-bottom: 20px;
        padding-left: 25px;
        
        li {
            line-height: 1.1;
            list-style: disc;
            margin-bottom: 10px;
        }
    }
    
    ol {
        li {
            list-style: decimal;
        }
    }
    
    .aboutTeam {
        width: 400px;
        
        li {
            margin-bottom: 20px;
            @include pie-clearfix;
            
            img {
                float: left;
                margin-right: 10px;
                width: 55px;
            }
            
            h3 {
                float: left;
                font-size: $baseFontSize;
                margin: 0 0 5px 0;
                text-transform: uppercase;
                width: 335px;
            }
            
            p {
                color: #5c5c5c;
                float: left;
                font-size: $baseFontSize - 2;
                margin-bottom: 0;
                width: 335px;
            }
        }
    }
}

/*--------------------------------------
    Responsive: Tablet and Facebook
----------------------------------------*/
@media only screen and (max-width: 810px) {
    #staticContent {
        padding-right: 20px;
    }
}

/*--------------------------------------
    Responsive: Mobile
----------------------------------------*/
@media only screen and (max-device-width: 480px) {
    #staticContent {
        padding-right: 20px;
        
        .aboutTeam {
            width: 260px;
            
            li {
                h3 {
                    width: 195px;
                }
                
                p {
                    width: 195px;
                }
            }
        }
    }
}

/*--------------------------------------
    Responsive: Wide
----------------------------------------*/
@media only screen and (min-width : 1220px) {
    #staticContent {
        padding-right: 460px;
        
        .aboutTeam {
            width: 500px;
            
            li {
                h3 {
                    width: 435px;
                }
                
                p {
                    width: 435px;
                }
            }
        }
    }
}