@font-face {
	font-family: 'MisoLight';
	src: url('/fonts/miso-light-webfont.eot');
	src: url('/fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/miso-light-webfont.woff') format('woff'),
		 url('/fonts/miso-light-webfont.ttf') format('truetype'),
		 url('/fonts/miso-light-webfont.svg#MisoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MisoRegular';
	src: url('/fonts/miso-webfont.eot');
	src: url('/fonts/miso-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/miso-webfont.woff') format('woff'),
		 url('/fonts/miso-webfont.ttf') format('truetype'),
		 url('/fonts/miso-webfont.svg#MisoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans500';
	src: url('/fonts/museosans-500-webfont.eot');
	src: url('/fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/museosans-500-webfont.woff') format('woff'),
		 url('/fonts/museosans-500-webfont.ttf') format('truetype'),
		 url('/fonts/museosans-500-webfont.svg#MuseoSans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans900';
	src: url('/fonts/museosans-900-webfont.eot');
	src: url('/fonts/museosans-900-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/museosans-900-webfont.woff') format('woff'),
		 url('/fonts/museosans-900-webfont.ttf') format('truetype'),
		 url('/fonts/museosans-900-webfont.svg#MuseoSans900') format('svg');
	font-weight: normal;
	font-style: normal;
}