/*--------------------------------------
    Variables
----------------------------------------*/
$linkColor:		#ff0078;
$linkColorHover:	darken($linkColor, 15%);

$baseFontSize:		14px;
$baseFontColor:		#514f56;