<tr>
    <td>
        <p style="color: #000; font-family: Arial; text-align: center;">
            Having trouble viewing this email? <a style="color: #000" href="{{ url('newsletter_view', { 'code': log.code }) }}?{{ tracking }}">View as a web page</a>.<br />
        </p>
    </td>
</tr>