
{% block content %}
    <header>
        <h2>API Client</h2>
    </header>

    <dl>
        <dt>ID</dt>
        <dd>{{ client.id }}</dd>
        <dt>Secret</dt>
        <dd>{{ client.secret }}</dd>
    </dl>
{% endblock %}