{% extends '::admin/base.html.twig' %}

{% block title %}Admin : Newsletter : Edit newsletter{% endblock %}

{% block content %}
    <header class="adminNav">
        <ul>
            <li><h2><a href="{{ path('admin_dashboard_index') }}">Admin</a> : </h2></li>
            <li><h3><a href="{{ path('admin_newsletter_index') }}">Newsletter</a> : </h3></li>
            <li><h3>Edit Newsletter</h3></li>
        </ul>
    </header>

    {% include 'PWNewsletterBundle:Admin\\Newsletter:partials/form.html.twig' %}
{% endblock %}