{% extends '::admin/base.html.twig' %}

{% block title %}Admin : Celebs : Create Celeb{% endblock %}

{% block content %}
    <header class="adminNav">
        <ul>
            <li><h2><a href="{{ path('admin_dashboard_index') }}">Admin</a> : </h2></li>
            <li><h3><a href="{{ path('admin_celebs') }}">Celebs</a> : </h3></li>
            <li><h3>Create Celeb</h3></li>
        </ul>
    </header>

    {% include 'PWUserBundle:Admin\\Celebs:form.html.twig' %}
{% endblock %}