{% extends friend is defined and friend is not empty ? 'PWActivityBundle:Activity:partials/friend.html.twig' : 'PWActivityBundle:Activity:partials/my.html.twig' %}

{% block icon %}
<a class="activityPicture" href="{{ path('pw_post_default_view', {'id': activity.data.post.id} ) }}">
	<img src="{{ activity.data.post.image | version('medium') }}" alt="{{ activity.data.post.description }}">
</a>
{% endblock %}

{% block message %}
commented on <a href="{{ path('pw_post_default_view', {'id': activity.data.post.id} ) }}#activityList">a spark</a>
{% endblock %}
